.header__homeLoaderNavButton .euiHeaderSectionItemButton__content {
  // avoid layout shift on smallest breakpoint if logo and loading indicator are different sizes
  min-width: 120px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  & .loaderContainer,
  & .homeIconContainer {
    grid-area: 1 / 1;
    align-self: center;
    justify-self: center;
  }

  & .homeIconContainer .logoImage {
    width: 108px;
    height: 32px;
    max-width: 108px;
    object-fit: contain;
  }
}
